/* Extra small devices (phones, portrait, less than 576px) */
@media (max-width: 575.98px) {
    /* Your CSS code for small devices */
    :root{
        --sm-font:12px;
    }
    .home{
        padding-block-start: 50px;

        & .card-wrap{
            display: none;
        }
    }
}

/* Small devices (phones, landscape, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Your CSS code for small devices */
    :root{
        --sm-font:12px;
    }
    .home{
        padding-block-start: 50px;

        & .card-wrap{
            display: none;
            background-origin: 1px solid red;
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your CSS code for tablets */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your CSS code for desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Your CSS code for large desktops */
}
